/* ~~~~~~~~~~~~~~~~~ Import ~~~~~~~~~~~~~~~~~ */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* ~~~~~~~~~~~~~~~~~ Global ~~~~~~~~~~~~~~~~~ */
*{
    font-family: 'Roboto', sans-serif;
}

/* ~~~~~~~~~~~~~~~~~ Navbar ~~~~~~~~~~~~~~~~~ */
.form-control{
    padding: 8px 10px;
    width: 350px;
}

.form-control:focus{
    box-shadow: none;
    color: black;
    border: none;

    -webkit-box-shadow: 0px 0px 32px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 32px -11px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 32px -11px rgba(0,0,0,0.75);

    transition: .5s ease-in-out;
}

.see-more-btn a{
    color: black;
}

.see-more-btn:hover{
    background-color: black;
    color: white;

    transition: .3s ease-in-out;
}

.see-more-btn:hover a{
    color: white;
}

/* ~~~~~~~~~~~~~~~~~ Caroussel ~~~~~~~~~~~~~~~~~ */
.carousel-item .text{
    position: absolute;
    z-index: 1;

    text-align: center;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carousel-item .text h1{
    color: white;
    font-weight: 400;
}

.carousel-item .text span{
    font-weight: bold;
}

.carousel-item .text p{
    color: white;
    font: 200;
}

.carousel-item img{
    position: relative;
    max-height: 87.2vh;
    object-fit: cover;

    filter: blur(1);
    filter: brightness(.6);
}

/* ~~~~~~~~~~~~~~~~~ Tabs ~~~~~~~~~~~~~~~~~ */
.search{
    position: absolute;
    z-index: 20;

    display: flex;
    justify-content: center;

    width: 100%;
}

.search input{
    width: 400px;
   text-align: center;
   margin-top: 15%;
   padding: 10px 60px;
   border: none;

   border-radius: 10px;
}

.search input:focus{
    outline: none;
    border: none;

    -webkit-box-shadow: 0px 0px 51px 9px rgba(186,184,186,1);
    -moz-box-shadow: 0px 0px 51px 9px rgba(186,184,186,1);
    box-shadow: 0px 0px 51px 9px rgba(186,184,186,1);

    transition: .3s ease-in-out;
}

/* ~~~~~~~~~~~~~~~~~ Tabs ~~~~~~~~~~~~~~~~~ */
.tabs{
    margin-top: 20px;
}

.tabs ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.tabs ul li{
    list-style: none;
}

.tabs ul li a{
    color: rgb(88, 87, 87);
    font-weight: 500;
    cursor: pointer;
}

.tabs ul li a:hover{
    border: 2px solid black;
    padding: 10px 20px;
    color: black;
    transition: .4s ease-out;
}

/* ~~~~~~~~~~~~~~~~~ Card Image ~~~~~~~~~~~~~~~~~ */

.card-image{
    height: 300px;
    overflow: hidden;

    cursor: pointer;
}

.card-image:hover img{
    transform: scale(1.1);
    filter: brightness(.5);
    object-fit: cover;
    transition: .3s ease-in;
}

.card-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ~~~~~~~~~~~~~~~~~ Footer Content ~~~~~~~~~~~~~~~~~ */
.text-category{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 20px 0;
}

.text-category h2{
    font-size: 24px;
}

.text-category p{
    border: 1px solid black;
    padding: 5px 10px;
}

/* ~~~~~~~~~~~~~~~~~ Footer Content ~~~~~~~~~~~~~~~~~ */
.footer-wrapper{
    padding: 40px 80px;
    background-color: #e3e3e3;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-wrapper .content ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-wrapper .content ul li{
    margin-top: 10px;
}

.footer-wrapper .content ul li a {
    color: black;
}

/* ~~~~~~~~~~~~~~~~~ Media Query ~~~~~~~~~~~~~~~~~ */

@media screen and (max-width: 480px){
    .footer-wrapper{
        flex-direction: column;
        gap: 50px;
        justify-content: center;
    }

    .search input{
        width: 200px;
       text-align: center;
       margin-top: 50%;
       padding: 10px;
       border: none;
    
       border-radius: 10px;
    }

    .search input::placeholder{
        color: transparent;
    }

    .carousel-control-prev, .carousel-control-next{
        display: none;
    }

    .tabs ul{
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;

        gap: 15px;
    }

    .tabs ul li{
        text-align: center;
    }

    .carousel-item img{
        position: relative;
        height: 100vh;
        object-fit: cover;
    
        filter: blur(1);
        filter: brightness(.6);
    }

    .carousel-item .text{
        padding: 0 20px;
    }

}
@media screen and (min-width: 480px) and (max-width: 600px){
    .search input{
        width: 200px;
       text-align: center;
       margin-top: 40%;
       padding: 10px;
       border: none;
    
       border-radius: 10px;
    }

    .carousel-item img{
        position: relative;
        height: 100vh;
        object-fit: cover;
    
        filter: blur(1);
        filter: brightness(.6);
    }
    
    .footer-wrapper{
        gap: 50px;
    }

    .card3{
        display: none;
    }

    .card4{
        display: none;
    }
}
@media screen and (min-width: 600px) and (max-width: 768px){
    .footer-wrapper{
        gap: 50px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px){
    .search input{
       text-align: center;
       margin-top: 25%;
       padding: 10px;
       border: none;
    
       border-radius: 10px;
    }

    .card4{
        display: none;
    }
}
@media screen and (min-width: 1024px) and (max-width: 1280px){}